/*is this thing on?*/
body {
  background-color: black;
}

#page {
  background-color: gray;
  width: 50%;
  left: 25%;
  top: 5%;
  position: absolute;
}

.h2 {
  font-size: 14pt;
}

.job {
  font-weight: bold;
  
}

.location {
  
}

.description {
  
}
